*{
    padding: 0px;
    margin: 0px;
}
#first_p{
        color: white;
        background-color: #1C2833;
        text-align: right;
        text-decoration: none;
        padding-top: 10px;
        font-size: 22px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-right: 150px;
        padding-bottom: 10px;
        
}
h2{

    text-align: center;
    padding-bottom:20px;
}
h3{
    padding-left: 74px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    display: flex;
    }

#freelance{
    padding-top: 160px;
    padding-bottom: 10px;
    display: inline-flex;
}



#buttn:hover{
    color: green;
}
@media screen and(max-width:450px){
   
}
#buttn{
    border: 2px solid;
    border-radius: 9px;
    position: absolute;
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
}
p{
    padding-left: 80px;
}
#buttn:focus{
    color: green;
}
#ss{
    padding-top: 120px;
    padding-left: 75px;
    display:block;
    padding-bottom: 185px;
    
}
#th-p{
    background-color: green;
    color: white;
    text-align: center;
 
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0px;
    float: top;
    border-right: 10px;
    padding-bottom: 600px;
    margin: 0px;
    margin-top: 0px;
    display: block;
   
}
strong{
 margin-bottom: 10px;
 margin-top: 100px;
    
}
hr{
    padding-bottom: 0px;
    border: 90px solid;
    color:  #1C2833;
    float: top;
}
   

#th-p-b{
    background-color: #1C2833;
}
.ul-1{
    list-style: none;
    text-decoration: none;
    padding: 6px;
    display: inline-flex;
}
#first_p  ul li a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
#first_p  ul{
    margin-left: 0px;
    float: left;
    padding-left: 30px;
}
#MM-1{
    font-size: 40px;
    
}
#dynamic li span{
    color: green;
    font-size: 60px;
    list-style: none;
    font-weight: 500px;
}
#dynamic{
    margin-left: 10px;
}
